{% extends 'base.html' %}


{% block title %} {{ question }} {% endblock title %}


{% block content %}
<div class="row justify-content-md-center py-4 gy-4 bg-light">


    <h2 class="col-auto">{{ question.translation }}</h2>


    <form action="{% url 'training_word' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ответ" autofocus autocomplete="off"
                   name="answer">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                    name="user" value="{{ user.pk }}">Проверить
            </button>

    </form>
</div>


<h3 class="text-success col-auto
        {% if last_answer_is_true == True %}col-auto border border-dark rounded-circle {% endif %}
">
    {{ right_today }}
</h3>
<h3 class="col-auto text-primary">/</h3>
<h3 class="text-danger col-auto
{% if last_answer_is_true == False %}col-auto border border-dark rounded-circle {% endif %}
">{{ wrong_today }}
</h3>

{% if not last_answer_is_true == None %}
<div class="row">
    <div class="col-6">
    <p>В прошлый раз был вопрос:</p>
    <p>Вы ответили:</p>
    <p>Правильный ответ был:</p>
    </div>
    <div class="col-6">
        <p>{{ last_question.translation }}</p>
        <p>{{ last_answer }}</p>
        <p>{{ last_question.word }}</p>
    </div>
</div>
{% endif %}

</div>
{% endblock content %}